 
<nav role="navigation" id="wb-sm" 
	data-ajax-replace="{{ "/ajax/sitemenu-en.html" | relative_url }}" data-trgt="mb-pnl" 
	class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement"> 
	<div class="container nvbar"> 
		<h2>Menu des sujets</h2> 
		<div class="row"> 
			<ul class="list-inline menu"> 
        <li><a href="{{ "/index-fr.html" | relative_url }}">Accueil</a></li>
        <li><a href="{{ "/samples/samples-fr.html" | relative_url }}">Samples</a></li>
			</ul> 
		</div> 
	</div> 
</nav> 
